.bookingContent {
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
}

.bookingHeader {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--main-black-color);
  margin-bottom: 8px;
}

.bookingText {
  font-size: 16px;
  line-height: 24px;
}

.bookingForm {
  margin-top: 24px;
}

.formInput {
  width: 400px;
  height: 56px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: var(--block-features-color);
}

.calendarInput {
  position: relative;
  width: 400px;
  height: 56px;
  padding: 18px 24px 18px 18px;
  border: none;
  border-radius: 10px;
  background-color: var(--block-features-color);
}

.calendarIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--main-black-color);
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--main-black-color);
  background-color: var(--white-color);
}

.customDatepickerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  border: none;
  background-color: var(--white-color);
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formMultiInput {
  width: 400px;
  height: 114px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: var(--block-features-color);
}

.bookingButton {
  height: 56px;
  width: 173px;
  padding: 16px 60px;
  color: var(--white-color);
  border-radius: 200px;
  background-color: var(--button-color);
  margin-top: 24px;
  margin-bottom: 24px;
}

.yupAlert {
  font-weight: 600;
  color: var(--button-color);
}
